### Passwortschutz
#AddDefaultCharset UTF-8
#AuthType Basic
#AuthName "Entwickler-Version - Kein öffentlicher Server!"
#AuthUserFile /var/www/.htusers
#Require valid-user
#<Files "*.png">
#  Allow from all
#  Satisfy any
#</FILES>
#<Files "*.jpg">
#  Allow from all
#  Satisfy any
#</FILES>

### Für Kunden ab hier
RewriteEngine on
#LogLevel alert rewrite:trace6
#RewriteBase /
### Umleitung bei http
#RewriteCond %{HTTPS} off
#RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
#RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

### Umleitung bei https
#RewriteCond %{HTTPS} on
#RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
#RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

#RewriteCond %{REQUEST_FILENAME}   nopic\.png$ [NC]
#RewriteCond %{SCRIPT_FILENAME}   !\.(gif|jpg|jpeg|png|css|js|pdf|woff|woff2)$ [NC]
RewriteCond %{REQUEST_FILENAME}   !\.(gif|jpg|jpeg|png|css|js|pdf|woff|woff2)$ [NC]
#RewriteRule ^(.*)$ /$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
